body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

signs {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100vw;
  background-color: #74A4E4;
  overflow-y: auto;
}

sign {
  display: block;
  margin: 1em;
  background-color: #C7A22B;
}

content {
  text-align: center;
  font-size: 1.5em;
  display: block;
  font-weight: bold;
  padding: 1em 1em 0;
}

[d1] {
  font-size: 1.4em;
}

[d2] {
  font-size: 1.3em;
}

[d3] {
  font-size: 1.2em;
}

[d4] {
  font-size: 1.1em;
}

[d5] {
  font-size: 1em;
}

[d6] {
  font-size: 0.9em;
}

date {
  display: block;
  padding: 0 0.5em 0.5em;
}

offline {
  background: #f1f153;
  color:black;
  padding: 0.3em;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

editor {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: #85E289;
  display: flex;
}

textarea {
  width: 80vw;
  resize: none;
}

label {
  position: absolute;
  bottom: 0;
  right: 20vw;
  background-color: aliceblue;
}

button {
  width: 20vw;
}